<div class='container'>
<nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li><button name="button">Home</button></li>
      <li><button name="button">News</button></li>
      <li><button name="button">Get BLustered!</button></li>
    </ul>
  </nav>
{{outlet}}
</div>
