<h1>BLuster!</h1>

<div class="row">
  <div class="col-md-6">
    {{#link-to 'story'}}<img src="http://www.lorempixel.com/people/300/300" alt="Feature 1 Picture">{{/link-to}}
    <p>{{#link-to 'story'}}This is headline 1! What a shocker!{{/link-to}}</p>
  </div>
  <div class="col-md-6">
    <img src="http://www.lorempixel.com/cats/300/300" alt="Feature 1 Picture">
    <p>You won't believe what Headline 2 said this week!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="http://www.lorempixel.com/business/300/300" alt="Feature 1 Picture">
    <p>15 hottest tips for the futuristic minded</p>
  </div>
  <div class="col-md-6">
    <img src="http://www.lorempixel.com/animals/300/300" alt="Feature 1 Picture">
  </div>
</div>
