<h1>Today's Top Story:</h1>

<p>
  Today was a tragic day for Marty Nelson. While it was just another day for your average American, the same cannot be said for this developer with impressive skills.

  At approximately 10:45am, Mr. Nelson, awoke from a cheetos'induced hangover to check his email and domain of epic websites, only to find that a malicious student of Epicodus by the name of David Garber had purchased his domain name. Mr. Nelson was incredibly surprised, as the website domain had only expired a short amount of time ago, 93 days to be exact.

  We caught up with Mr. Nelson earlier today to get his reaction: "I'm really disappointed to see someone of this caliber come out of Epicodus," he stated in a frantic rush. "You know, my internet out here in Troutdale-ville is not the best, half the time I am battling my grandma for the phone line to rock my awesome 56k modem. Get off the phone grandma!!!"

  Mr. Garber was not available for comment, however several students at Epicodus spoke up about the matter.

  Audrie Talbot, who is looking to be an amazing developer, stated she "felt like Marty should have got his shit together by now". Another student, Jeanette Fairless, could barely contain her laughter at the situation "Who IS this guy? Good lawd." We were unable to contact the head of Epicodus, Michael Nyman-Kaiser-Many last names, but we were assured that he felt similarly as the students."

  "I really feel betrayed right now" Mr. Nelson concluded. "All I wanted was an 'intern' or two, and by intern someone that I can come over to their house and use their internet. While I'm incredibly disappointed in(yet so amazed by) Mr. Garber, I hope we can come to an amiable agreement. I have a couple sandwiches I would be willing to trade him for my domain back. Maybe he can even be an intern here! GRANDMA SHUT UP!!!!"

  -AP NEWS
</p>
